/* src/pages/Home.css */
.home {
    text-align: center;
    padding: 100px 20px;
    background-color: #141414;
  }
  
  .home h1 {
    font-size: 3rem;
    color: #e50914; /* Netflix Red */
    text-transform: uppercase;
    margin-bottom: 20px;
  }
  
  .home p {
    font-size: 1.5rem;
    color: #fff;
  }
  